# Bonus: Temperature Analysis I

In [9]:
import pandas as pd
from datetime import datetime as dt

In [10]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [11]:
# Convert the date column format from string to datetime


df['date'] = pd.to_datetime(df['date'], errors='coerce')
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [77]:
# Set the date column as the DataFrame index
#df = df.set_index('date')

df.set_index(df['date'], inplace=True)

# Sort the dataframe by date
# df = df.sort_values("date")
df = df.sort_index()

df

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-01  USC00518838 2010-01-01  0.21    72
2010-01-01  USC00519523 2010-01-01  0.15    75
2010-01-01  USC00519281 2010-01-01  0.15    70
2010-01-01  USC00511918 2010-01-01  0.05    66
...                 ...        ...   ...   ...
2017-08-22  USC00516128 2017-08-22  0.50    76
2017-08-23  USC00519397 2017-08-23  0.00    81
2017-08-23  USC00514830 2017-08-23  0.00    82
2017-08-23  USC00519523 2017-08-23  0.08    82
2017-08-23  USC00516128 2017-08-23  0.45    76

[19550 rows x 4 columns]

In [13]:
# Drop the date column
clean_df = df.drop('date', axis=1)

clean_df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-01  USC00518838  0.21    72
2010-01-01  USC00519523  0.15    75
2010-01-01  USC00519281  0.15    70
2010-01-01  USC00511918  0.05    66
...                 ...   ...   ...
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00519397  0.00    81
2017-08-23  USC00514830  0.00    82
2017-08-23  USC00519523  0.08    82
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [104]:
df['day'] = clean_df.index.day
df['month'] = clean_df.index.month
df['year'] = clean_df.index.year

clean_df = df.drop('date', axis=1)

clean_df

# june_mask = df['date'].map(lambda x: x.month) == 6 
# ju = clean_df[june_mask]
# june

# dec_mask = df['date'].map(lambda x: x.month) == 12 
# december = clean_df[dec_mask]

                station  prcp  tobs  day  month  year
date
2010-01-01  USC00519397  0.08    65    1      1  2010
2010-01-01  USC00518838  0.21    72    1      1  2010
2010-01-01  USC00519523  0.15    75    1      1  2010
2010-01-01  USC00519281  0.15    70    1      1  2010
2010-01-01  USC00511918  0.05    66    1      1  2010
...                 ...   ...   ...  ...    ...   ...
2017-08-22  USC00516128  0.50    76   22      8  2017
2017-08-23  USC00519397  0.00    81   23      8  2017
2017-08-23  USC00514830  0.00    82   23      8  2017
2017-08-23  USC00519523  0.08    82   23      8  2017
2017-08-23  USC00516128  0.45    76   23      8  2017

[19550 rows x 6 columns]

### Compare June and December data across all years

In [15]:
from scipy import stats

In [47]:
# Filter data for desired months
# dec_df = clean_df.loc['2010-12-01':'2014-12-31']
# dec_df
# june_df = clean_df.loc['2010-06-01':'2016-06-30'] 

# june_df

# june = clean_df.loc[clean_df['month'] == "6",]
# june

                station  prcp  tobs
date
2010-12-01  USC00511918  0.13    70
2010-12-01  USC00519397  0.04    76
2010-12-01  USC00513117  0.76    73
2010-12-01  USC00519281  1.35    72
2010-12-01  USC00516128  1.48    71
...                 ...   ...   ...
2014-12-31  USC00511918  0.70    57
2014-12-31  USC00519523  0.63    56
2014-12-31  USC00519281  0.66    59
2014-12-31  USC00519397  0.05    56
2014-12-31  USC00513117  0.72    64

[10875 rows x 3 columns]

In [125]:
# Identify the average temperature for June
june = clean_df.loc[clean_df['month'] == 6]

avg_temp_june = june.groupby(['month']).mean()
avg_temp_june['tobs']

month
6    74.944118
Name: tobs, dtype: float64

In [123]:
# Identify the average temperature for December

december = clean_df.loc[clean_df['month'] == 12]

avg_temp_dec = december.groupby(['month']).mean()
avg_temp_dec['tobs']

month
12    71.041529
Name: tobs, dtype: float64

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis