# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [3]:
# Convert the date column format from string to datetime


df['date'] = pd.to_datetime(df['date'], errors='coerce')
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [12]:
# Set the date column as the DataFrame index
#df = df.set_index('date')

df.set_index(df['date'], inplace=True)

# Sort the dataframe by date
# df = df.sort_values("date")
df = df.sort_index()

df

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-01  USC00518838 2010-01-01  0.21    72
2010-01-01  USC00519523 2010-01-01  0.15    75
2010-01-01  USC00519281 2010-01-01  0.15    70
2010-01-01  USC00511918 2010-01-01  0.05    66
...                 ...        ...   ...   ...
2017-08-22  USC00516128 2017-08-22  0.50    76
2017-08-23  USC00519397 2017-08-23  0.00    81
2017-08-23  USC00514830 2017-08-23  0.00    82
2017-08-23  USC00519523 2017-08-23  0.08    82
2017-08-23  USC00516128 2017-08-23  0.45    76

[19550 rows x 4 columns]

In [5]:
# Drop the date column
df

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-01  USC00518838 2010-01-01  0.21    72
2010-01-01  USC00519523 2010-01-01  0.15    75
2010-01-01  USC00519281 2010-01-01  0.15    70
2010-01-01  USC00511918 2010-01-01  0.05    66
...                 ...        ...   ...   ...
2017-08-22  USC00516128 2017-08-22  0.50    76
2017-08-23  USC00519397 2017-08-23  0.00    81
2017-08-23  USC00514830 2017-08-23  0.00    82
2017-08-23  USC00519523 2017-08-23  0.08    82
2017-08-23  USC00516128 2017-08-23  0.45    76

[19550 rows x 4 columns]

### Compare June and December data across all years

In [6]:
from scipy import stats

In [7]:
# Filter data for desired months

In [8]:
# Identify the average temperature for June

In [9]:
# Identify the average temperature for December

In [10]:
# Create collections of temperature data

In [11]:
# Run paired t-test

### Analysis