# Bonus: Temperature Analysis I

In [118]:
import pandas as pd
from datetime import datetime as dt
import matplotlib

In [119]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [120]:
# Convert the date column format from string to datetime


df['date'] = pd.to_datetime(df['date'], errors='coerce')
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [121]:
# Set the date column as the DataFrame index
#df = df.set_index('date')

df.set_index(df['date'], inplace=True)

# Sort the dataframe by date
# df = df.sort_values("date")
df = df.sort_index()

df

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-01  USC00518838 2010-01-01  0.21    72
2010-01-01  USC00519523 2010-01-01  0.15    75
2010-01-01  USC00519281 2010-01-01  0.15    70
2010-01-01  USC00511918 2010-01-01  0.05    66
...                 ...        ...   ...   ...
2017-08-22  USC00516128 2017-08-22  0.50    76
2017-08-23  USC00519397 2017-08-23  0.00    81
2017-08-23  USC00514830 2017-08-23  0.00    82
2017-08-23  USC00519523 2017-08-23  0.08    82
2017-08-23  USC00516128 2017-08-23  0.45    76

[19550 rows x 4 columns]

In [122]:
# Drop the date column
clean_df = df.drop('date', axis=1)

clean_df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-01  USC00518838  0.21    72
2010-01-01  USC00519523  0.15    75
2010-01-01  USC00519281  0.15    70
2010-01-01  USC00511918  0.05    66
...                 ...   ...   ...
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00519397  0.00    81
2017-08-23  USC00514830  0.00    82
2017-08-23  USC00519523  0.08    82
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [123]:
df['day'] = clean_df.index.day
df['month'] = clean_df.index.month
df['year'] = clean_df.index.year

clean_df = df.drop('date', axis=1)

clean_df

# june_mask = df['date'].map(lambda x: x.month) == 6 
# ju = clean_df[june_mask]
# june

# dec_mask = df['date'].map(lambda x: x.month) == 12 
# december = clean_df[dec_mask]

                station  prcp  tobs  day  month  year
date
2010-01-01  USC00519397  0.08    65    1      1  2010
2010-01-01  USC00518838  0.21    72    1      1  2010
2010-01-01  USC00519523  0.15    75    1      1  2010
2010-01-01  USC00519281  0.15    70    1      1  2010
2010-01-01  USC00511918  0.05    66    1      1  2010
...                 ...   ...   ...  ...    ...   ...
2017-08-22  USC00516128  0.50    76   22      8  2017
2017-08-23  USC00519397  0.00    81   23      8  2017
2017-08-23  USC00514830  0.00    82   23      8  2017
2017-08-23  USC00519523  0.08    82   23      8  2017
2017-08-23  USC00516128  0.45    76   23      8  2017

[19550 rows x 6 columns]

### Compare June and December data across all years

In [124]:
from scipy import stats
from scipy.stats import ttest_rel

In [125]:
# Filter data for desired months
# dec_df = clean_df.loc['2010-12-01':'2014-12-31']
# dec_df
# june_df = clean_df.loc['2010-06-01':'2016-06-30'] 

# june_df

# june = clean_df.loc[clean_df['month'] == "6",]
# june

In [126]:
# Identify the average temperature for June

avg_june_temp = clean_df[clean_df["month"] == 6]
avg_june_temp['tobs'].mean()

# june = clean_df.loc[clean_df['month'] == 6]

# avg_june = june.groupby(['month']).mean()
# avg_temp_june = avg_june['tobs']
# avg_temp_june

74.94411764705882

In [127]:
# Identify the average temperature for December

avg_dec_temp = clean_df[clean_df["month"] == 12]
avg_dec_temp['tobs'].mean()

avg_dec_temp = clean_df[clean_df["month"] == 12]
avg_dec =avg_dec_temp['tobs'].mean()
# december = clean_df.loc[clean_df['month'] == 12]


# avg_dec = december.groupby(['month']).mean()
# avg_dec_temp = avg_dec['tobs']

In [128]:
# Create collections of temperature data

avg_dec_temp

                station  prcp  tobs  day  month  year
date
2010-12-01  USC00511918  0.13    70    1     12  2010
2010-12-01  USC00519397  0.04    76    1     12  2010
2010-12-01  USC00513117  0.76    73    1     12  2010
2010-12-01  USC00519281  1.35    72    1     12  2010
2010-12-01  USC00516128  1.48    71    1     12  2010
...                 ...   ...   ...  ...    ...   ...
2016-12-31  USC00516128  0.90    65   31     12  2016
2016-12-31  USC00514830  0.36    72   31     12  2016
2016-12-31  USC00519281  0.25    67   31     12  2016
2016-12-31  USC00519397  0.01    66   31     12  2016
2016-12-31  USC00513117  0.62    71   31     12  2016

[1517 rows x 6 columns]

In [129]:
pre = avg_june_temp["tobs"]
post = avg_dec_temp["tobs"]

In [130]:
stat_df = clean_df.describe()
stat_df

               prcp          tobs           day         month          year
count  18103.000000  19550.000000  19550.000000  19550.000000  19550.000000
mean       0.160644     73.097954     15.632737      6.350281   2013.178721
std        0.468746      4.523527      8.772504      3.419494      2.185962
min        0.000000     53.000000      1.000000      1.000000   2010.000000
25%        0.000000     70.000000      8.000000      3.000000   2011.000000
50%        0.010000     73.000000     16.000000      6.000000   2013.000000
75%        0.110000     76.000000     23.000000      9.000000   2015.000000
max       11.530000     87.000000     31.000000     12.000000   2017.000000

In [131]:
stat_df['month'].value_counts()

19550.000000    1
6.350281        1
3.419494        1
1.000000        1
3.000000        1
6.000000        1
9.000000        1
12.000000       1
Name: month, dtype: int64

In [132]:
b = clean_df.query('month == "6"')['tobs']
a = clean_df.query('month == "12"')['tobs']

In [133]:
ttest_rel(b, a)

Ttest_relResult(statistic=nan, pvalue=nan)

In [134]:
# Run paired t-test 

stats.ttest_ind(avg_june_temp.tobs, avg_dec_temp.tobs)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

I chose to do paired t-test, because the samles are related to each and the means happen at different time points.

since the p-value is much more than 0.5 the ttest has very little statistical significance.